@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Net Candy Store is a ficticious online candy store created to demonstrate Windows Containers, Windows VMs and .NET Core containers — all working together in OpenShift..</p>
