@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    100 East Davie Street<br />
    Raleigh, NC 27601<br />
    <abbr title="Phone">P:</abbr>
    888.RED.HAT1
</address>

<address>
    <strong>Comments or questions about this web site?:</strong>   <a href="mailto:dschenck@redhat.com">dschenck@redhat.com</a><br />
</address>