

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubmitPayment</title>
</head>
<body>
    <div> 
        <h1>Payment Submitted. Thank you.</h1>
    </div>
</body>
</html>
